.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    article {
        &.right {
            img {
                border-radius: 5px;
            }
        }

        h1 {
            font-size: 1.75em;
        }
    }
}