<section class="about">
  <article class="left">
    <h1>Alejandro Rodriguez Toledo</h1>
    <p>
      I'm Alex, a software engineer, I likes to learn and enjoy the work. I have
      worked in some companies as a software developer and met excellent work
      teams. I have almost 5 years of experience as a full stack developer.
    </p>
    <p>
      I have worked with some technologies such as php, nodejs, ruby and python.
      I am currently developing nodejs web application systems.
    </p>
  </article>
  <article class="right">
    <img src="{{site.baseurl}}/assets/img/me.jpg" />
  </article>
</section>
